In [1]:
import pandas as pd
import numpy as np

In [49]:
#loading data 
df = pd.read_csv("india_home_decor_uncleaned.csv")
df.head()

,Customer ID,Age Group,Preferred Style,Purchase Frequency,Average Spend (INR),Top Competitor Chosen,Influencing Factor,Purchase Channel,City
0,CUST1000,18-25,Industrial,NaN,45475.85,ikea ind,Social Influence,WhatsApp,Banglore
1,CUST1001,18-25,NaN,5.0,NaN,Amazon India,NaN,Instagram,Bangalore
2,CUST1002,26-35,Bohemian,5.0,NaN,Flipkart,Brand Reputation,Instagram,Hyderabad
3,CUST1003,46-60,Bohemian,2.0,42551.38,HomeTown,pricee,In-Store,Delhi
4,CUST1004,36-45,NaN,1.0,9224.87,Flipkart,Price,In-Store,Bangalore

In [90]:
#handling missing values by using median and filling values 
df["Age Group"].fillna("Unknown", inplace=True)
df["Preferred Style"].fillna("Unknown", inplace=True)
df["Purchase Frequency"].fillna(df["Purchase Frequency"].median(), inplace=True)
df["Average Spend (INR)"].fillna(df["Average Spend (INR)"].median(), inplace=True)
df["Top Competitor Chosen"].fillna("Unknown", inplace=True)
df["Influencing Factor"].fillna("Unknown", inplace=True)
df["Purchase Channel"].fillna("Unknown", inplace=True)
df["City"].fillna("Unknown", inplace=True)

In [92]:
df.head(10)

,Customer ID,Age Group,Preferred Style,Purchase Frequency,Average Spend (INR),Top Competitor Chosen,Influencing Factor,Purchase Channel,City
0,CUST1000,18-25,Industrial,3,45475.85,IKEA India,Social Influence,WhatsApp,Bangalore
1,CUST1001,18-25,Unknown,5,24506.06,Amazon India,Unknown,Instagram,Bangalore
2,CUST1002,26-35,Bohemian,5,24506.06,Flipkart,Brand Reputation,Instagram,Hyderabad
3,CUST1003,46-60,Bohemian,2,42551.38,HomeTown,Price,In-Store,Delhi
4,CUST1004,36-45,Unknown,1,9224.87,Flipkart,Price,In-Store,Bangalore
5,CUST1005,18-25,Minimalist,3,32021.42,Amazon India,Sustainability,Instagram,Bangalore
6,CUST1006,Unknown,Bohemian,3,24506.06,Urban Ladder,Discounts,WhatsApp,Bangalore
7,CUST1007,46-60,Minimalist,3,40787.70,Flipkart,Brand Reputation,In-Store,Chennai
8,CUST1008,46-60,Traditional,3,48129.91,HomeTown,Unknown,In-Store,Bangalore
9,CUST1009,46-60,Bohemian,3,14688.41,Urban Ladder,Sustainability,In-Store,Kolkata

In [94]:
style_corrections = {"minimalst": "Minimalist", "bohemn": "Bohemian"}
df["Preferred Style"] = df["Preferred Style"].replace(style_corrections)

In [106]:
competitor_corrections = {
    "ikea ind": "IKEA India",
    "pepper fry": "Pepperfry",
    "urban ladder": "Urban Ladder",
    "home town": "HomeTown"
}

factor_corrections = {
    "pricee": "Price",
    "Quality ": "Quality",
    "brand reputaion": "Brand Reputation",
    "social influenc": "Social Influence"
}

channel_corrections = {
    "in store": "In-Store",
    "whatsapp": "WhatsApp",
    "insta": "Instagram"
}

city_corrections = {
    "Banglore": "Bangalore",
    "mumbai ": "Mumbai",
    "del hi": "Delhi"
}

# Apply corrections
df["Top Competitor Chosen"] = df["Top Competitor Chosen"].replace(competitor_corrections)
df["Influencing Factor"] = df["Influencing Factor"].replace(factor_corrections)
df["Purchase Channel"] = df["Purchase Channel"].replace(channel_corrections)
df["City"] = df["City"].replace(city_corrections)

In [108]:
df.head(10)

,Customer ID,Age Group,Preferred Style,Purchase Frequency,Average Spend (INR),Top Competitor Chosen,Influencing Factor,Purchase Channel,City
0,CUST1000,18-25,Industrial,3,45475.85,IKEA India,Social Influence,WhatsApp,Bangalore
1,CUST1001,18-25,Unknown,5,24506.06,Amazon India,Unknown,Instagram,Bangalore
2,CUST1002,26-35,Bohemian,5,24506.06,Flipkart,Brand Reputation,Instagram,Hyderabad
3,CUST1003,46-60,Bohemian,2,42551.38,HomeTown,Price,In-Store,Delhi
4,CUST1004,36-45,Unknown,1,9224.87,Flipkart,Price,In-Store,Bangalore
5,CUST1005,18-25,Minimalist,3,32021.42,Amazon India,Sustainability,Instagram,Bangalore
6,CUST1006,Unknown,Bohemian,3,24506.06,Urban Ladder,Discounts,WhatsApp,Bangalore
7,CUST1007,46-60,Minimalist,3,40787.70,Flipkart,Brand Reputation,In-Store,Chennai
8,CUST1008,46-60,Traditional,3,48129.91,HomeTown,Unknown,In-Store,Bangalore
9,CUST1009,46-60,Bohemian,3,14688.41,Urban Ladder,Sustainability,In-Store,Kolkata

In [110]:
df.drop_duplicates(inplace=True)

In [112]:
#integer and round off 
df["Average Spend (INR)"] = df["Average Spend (INR)"].astype(float)
df["Purchase Frequency"] = df["Purchase Frequency"].astype(int)

In [114]:
df.head(10)

,Customer ID,Age Group,Preferred Style,Purchase Frequency,Average Spend (INR),Top Competitor Chosen,Influencing Factor,Purchase Channel,City
0,CUST1000,18-25,Industrial,3,45475.85,IKEA India,Social Influence,WhatsApp,Bangalore
1,CUST1001,18-25,Unknown,5,24506.06,Amazon India,Unknown,Instagram,Bangalore
2,CUST1002,26-35,Bohemian,5,24506.06,Flipkart,Brand Reputation,Instagram,Hyderabad
3,CUST1003,46-60,Bohemian,2,42551.38,HomeTown,Price,In-Store,Delhi
4,CUST1004,36-45,Unknown,1,9224.87,Flipkart,Price,In-Store,Bangalore
5,CUST1005,18-25,Minimalist,3,32021.42,Amazon India,Sustainability,Instagram,Bangalore
6,CUST1006,Unknown,Bohemian,3,24506.06,Urban Ladder,Discounts,WhatsApp,Bangalore
7,CUST1007,46-60,Minimalist,3,40787.70,Flipkart,Brand Reputation,In-Store,Chennai
8,CUST1008,46-60,Traditional,3,48129.91,HomeTown,Unknown,In-Store,Bangalore
9,CUST1009,46-60,Bohemian,3,14688.41,Urban Ladder,Sustainability,In-Store,Kolkata

In [120]:
# Save cleaned dataset (optional)
df.to_csv("home_decor_cleaned.csv", index=False)

In [124]:
df.to_csv("C:/Users/Royston18/OneDrive/Desktop/india_home_decor_cleaned.csv", index=False)

In [ ]:
C:\Users\Royston18\OneDrive\Desktop